* {
    padding: 0;
    margin: 0;
    font-size: 1.25rem;
    font-family: Domine, serif;
}

body {
    background-color: #23222b;
    color: white;
    padding: 1.5em;
}

h1 {
    font-size: 2em;
}
h2 {
    font-size: 1.5em;
}
h1,h2 {
    font-family: "Playwrite AU SA", serif;
}

#conf-description {
    color: #ddd;
    font-size: 1rem;
}

/* Write your own CSS below.  Don't modify anything above this comment. */

body { 
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto auto auto auto auto auto 1fr;
    grid-template-areas:
        "conf-description image"
        "title image"
        "subtitle image"
        "line image"
        "date image"
        "location image"
        "activities speakers";
    column-gap: 1.5em;
}

ul {
    list-style-type: none;
}

hr {
    grid-area: line;
    border: 0;
    border-top: 0.1em solid #ddd;
    margin: 0.5em 0;
}

#conf-description {
    grid-area: conf-description;
    max-width: 20em;
    text-align: right;
    justify-self: end;
    margin-bottom: 5em;
    line-height: 1.5em;
}

#title {
    grid-area: title;
    text-align: right;
}

#subtitle {
    grid-area: subtitle;
    text-align: right;
}

#date {
    grid-area: date;
    text-align: right;
}

#location {
    grid-area: location;
    text-align: right;
    margin-top: 0.25em;
}

.activities {
    grid-area: activities;
    text-align: right;
}

.activities * {
    margin: 0.4em 0;
} 

.speakers {
    grid-area: speakers;
    text-align: left;
}

.speakers * {
    margin: 0.4em 0;
}


img {
    grid-area: image;
    align-self: stretch;
}