* {
    padding: 0;
    margin: 0;
    font-size: 1.25rem;
    font-family: Domine, serif;
}

body {
    background-color: #23222b;
    color: white;
    padding: 1.5em;
}

h1 {
    font-size: 2em;
}
h2 {
    font-size: 1.5em;
}
h1,h2 {
    font-family: "Playwrite AU SA", serif;
}

#conf-description {
    color: #ddd;
    font-size: 1rem;
}

/* Write your own CSS below.  Don't modify anything above this comment. */

body { 
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(5, auto);
    grid-template-areas:
        "conf-description image"
        "title title"
        "subtitle subtitle"
        "date date"
        "location location"
        "activities speakers";
    column-gap: 1.5em;
    }

ul {
    list-style-type: none;
}
    
#conf-description {
    max-width: 15em;
    text-align: right;
    grid-area: conf-description;
    align-self: center;
}

.activities {
    grid-area: activities;
    text-align: right;
}

.activities * {
    margin: 0.4em 0;
} 

.speakers {
    grid-area: speakers;
    text-align: left;
}

.speakers * {
    margin: 0.4em 0;
}

img {
    grid-area: image;
    min-width: 6em;
    /* height: auto; */
    /* object-fit: cover;
    display: block; */
}